:host {
    height: 100%;
}

#hexagon-world {
    background: linear-gradient(111.19deg, #FFFFFF 0.96%, #F8F8FF 96.35%);
}

.sharde-bg {
    background:
        linear-gradient(217deg, #D0EEE5, rgba(255,0,0,0) 70.71%),
        linear-gradient(127deg, #A3E6E6, rgba(0,255,0,0) 70.71%),
        linear-gradient(45deg, #7d9ae4, rgba(0,255,0,0) 70.71%),
        linear-gradient(310deg, #A3B6E6, rgba(0,255,0,0) 70.71%),
        linear-gradient(336deg, #A3B6E6, rgba(0,0,255,0) 70.71%);
  }
