<div class="grid grid-cols-core auto-rows-auto">
  <app-wallpaper class="-z-10 row-start-1 row-end-5 col-start-1 col-span-7"></app-wallpaper>
  <div
    id="hexagon-world"
    class="-z-20 min-h-screen row-start-1 row-end-5 col-start-1 col-span-7"
  ></div>
  <div
    id="header"
    class="row-start-1 col-start-1 col-span-7 max-h-24 mt-6 px-2 lg:px-20 flex flex-row leading-[6.5rem]"
  >
    <div class="hidden lg:flex flex-1 justify-start">
      <ul class="list-none">
        <li class="inline-block xl:mr-12 lg:mr-4">
          <a href="" class="hover:font-bold">Work</a>
        </li>
        <li class="inline-block xl:mr-12 lg:mr-4">
          <a href="" class="hover:font-bold">Experience</a>
        </li>
        <li class="inline-block xl:mr-12 lg:mr-4">
          <a href="" class="hover:font-bold">About</a>
        </li>
        <li class="inline-block">
          <a href="" class="hover:font-bold">Contact</a>
        </li>
      </ul>
    </div>
    <div class="flex flex-1 justify-start lg:justify-center items-center">
      <img src="assets/logo.svg" alt="" />
    </div>
    <div class="flex flex-1 justify-end items-center">
      <a
        href=""
        class="rounded-lg border-2 text-xl font-bold py-[0.25rem] px-3 hover:text-sharde-blue hover:border-color-sharde-blue"
        >RESUMÉ</a
      >
    </div>
  </div>
  <div
    id="splash-start"
    class="row-start-2 col-start-1 col-span-7 h-6 self-end"
  ></div>
  <div id="splash" class="row-start-3 col-start-4 font-opensans flex flex-col">
    <div class="z-10">
      <p class="text-l md:text-xl font-bold text-sharde-blue">Hi, my name is</p>
      <p class="text-2xl md:text-6xl font-semibold md:leading-relaxed">
        Evan Hughes.<br />
        I'm a Systems Engineer.
      </p>
      <p
        class="text-sm leading-loose md:text-lg font-normal max-w-2xl md:leading-loose mt-8"
      >
        I'm a full stack software engineer specialising in Identity and Access Management. Currently, I'm
        focused on building services for the
        <span class="font-bold text-sharde-blue"
        >University of Queensland in Brisbane Australia</span
        >.
      </p>
      <span class="mt-8">
      <a
        href=""
        class="rounded-lg border-2 text-xl font-bold py-[0.25rem] px-3 leading-[3rem] hover:text-sharde-blue hover:border-color-sharde-blue"
      >MY WORK</a
      >
    </span>
    </div>
  </div>
  <div
    id="splash-end"
    class="row-start-4 col-start-1 col-span-7 h-24 self-end"
  ></div>
  <div
    id="splash-right"
    class="row-start-3 row-end-6 col-start-2 self-end flex flex-col items-center gap-5"
  >
    <i class="fa fa-envelope"></i>
    <i class="fa fa-gitlab"></i>
    <i class="fa fa-linkedin"></i>
<!--    <i class="fa fa-instagram"></i>-->
    <div class="flex justify-center">
      <div class="border h-48 md:h-64"></div>
    </div>
  </div>
  <div
    id="splash-left"
    class="row-start-3 row-end-6 col-start-6 self-end flex flex-col items-center gap-5"
  >
    <a
      href="mailto:ehugh1@gmail.com"
      class="origin-top-left"
      style="writing-mode: vertical-lr"
      >ehugh1@gmail.com</a
    >
    <div class="flex justify-center">
      <div class="border h-48 md:h-64"></div>
    </div>
  </div>
  <div
    id="projects-start"
    class="row-start-5 col-start-1 col-span-7 h-24 self-start"
  ></div>
  <div
    id="projects"
    class="row-start-6 col-start-4 font-opensans flex flex-col h-96"
  >
    <p class="text-l md:text-xl font-bold text-sharde-blue">Stuff I've built</p>
  </div>
  <div
    id="projects-end"
    class="row-start-7 col-start-1 col-span-7 h-24 self-end border-b border-[#D8DFEA]"
  ></div>
  <div
    id="skills-start"
    class="row-start-8 col-start-1 col-span-7 h-24 self-start"
  ></div>
  <div
    id="skills"
    class="row-start-9 col-start-4 font-opensans flex flex-col h-96"
  >
    <p class="text-l md:text-xl font-bold text-sharde-blue">Skills and stuff</p>
  </div>
  <div
    id="skills-end"
    class="row-start-10 col-start-1 col-span-7 h-24 self-end border-b border-[#D8DFEA]"
  ></div>
  <div
  id="about-start"
  class="row-start-8 col-start-1 col-span-7 h-24 self-start"
></div>
<div
  id="about"
  class="row-start-9 col-start-4 font-opensans flex flex-col h-96"
>
  <p class="text-l md:text-xl font-bold text-sharde-blue">About</p>
</div>
<div
  id="about-end"
  class="row-start-10 col-start-1 col-span-7 h-24 self-end"
></div>
  <div
    id="contact-start"
    class="row-start-14 col-start-1 col-span-7 h-24 self-start"
  ></div>
  <div
    id="contact"
    class="row-start-15 col-start-3 col-end-6 font-opensans flex flex-col sharde-bg py-24 rounded-[15px] text-center items-center"
  >
    <p class="text-l md:text-xl font-bold text-sharde-blue">Contact</p>
    <p class="text-2xl md:text-6xl font-semibold leading-relaxed">
      Get in touch
    </p>
    <p
      class="text-sm leading-loose md:text-lg font-normal max-w-2xl md:leading-loose mt-8"
    >

    </p>
    <span class="mt-8">
      <a
        href=""
        class="rounded-lg border-2 text-xl font-bold py-[0.25rem] px-3 leading-[3rem] hover:text-sharde-blue hover:border-color-sharde-blue"
        >EMAIL ME</a
      >
    </span>
  </div>
  <div
    id="contact-end"
    class="row-start-16 col-start-1 col-span-7 h-24 self-start"
  ></div>
  <div
    id="footer"
    class="row-start-17 col-start-3 col-end-6 font-opensans flex flex-col py-4 rounded-[15px] text-center items-center"
  >
    <div class="flex flex-row items-center gap-16">
      <i class="fa fa-envelope"></i>
      <i class="fa fa-gitlab"></i>
      <img src="assets/anti-logo.svg" alt="" />
      <i class="fa fa-linkedin"></i>
      <i class="fa fa-instagram"></i>
    </div>
    <div class="pt-4">
      Built by Evan Hughes, Designed by
      <a href="https://www.shardeheim.com" class="text-sharde-blue font-bold"
        >Shardé Heim</a
      >.
    </div>
  </div>
</div>
